* {
    color: var(--white);
    overscroll-behavior: none;
}

:root {
    --white: #ffffff;
    --black: #000000
}


html,
body {
    padding: 0;
    margin: 0;
}


#homepic {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    object-fit: fill;
    position: absolute;
    background-image: url(../../assets/homepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


#hometext {
    position: relative;
    font-size: 5vw;
}