/* General Values */

* {
    color: var(--black);
    overscroll-behavior: none;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --background-color: #2b2e2c;
}

/* Tag Values */


html body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
}


/* Home Section */

#homepic {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    object-fit: fill;
    position: absolute;
    background-image: url(../../assets/homepic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


#hometext {
    color: var(--white);
    position: relative;
    font-size: 7vw;
    margin-top: 65vh;
    margin-left: 5vw;
}


/* Info Section */

.info-box {
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    border: solid;
    border-width: 0.5vw;
    border-color: var(--background-color);
    border-radius: 25px;
    z-index: 1;
}

.info-box-l {
    align-self: flex-start;
}

.info-box-r {
    align-self: flex-end;
}


.info-wrapper-top .info-box-r {
    margin-top: 5vh;
}

.info-wrapper-bottom .info-box-l {
    margin-top: -5vh;
}

.info-box-zoom {
    width: 50vw;
    height: 50vw;
    transition: all .5s ease-in-out;
    object-fit: cover;
    z-index: 0;
}

.info-box-zoom:hover {
    transform: scale(1.2);
    transition: all .5s ease-in-out;
    z-index: 0;
}


.info-wrapper-top {
    display: flex;
    padding-top: 100vh;
}

.info-wrapper-bottom {
    display: flex;
}

/* Class for the Info Pictures in the info Section
of the Website */
.infopic {
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 0;
}

/* Class for every Image. */
.pic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Class for the Info text on the Info Section
of the Website */
.info-text {
    color: var(--white);
    margin-left: 4vw;
    margin-top: 60vh;
    padding: 0.7vw;
    font-size: 3vw;
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(10px) saturate(50%);
    -webkit-backdrop-filter: blur(10px) saturate(50%);
}